Source: outpostserver
Section: net
Priority: optional
Maintainer: William Schaub <william.schaub@genesi-usa.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/outpostserverpkg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/outpostserverpkg.git;a=summary

Package: outpostserver-basestation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dnsmasq, lighttpd, php5-cgi, php5-sqlite, samba, vim
Replaces: dnsmasq
Conflicts: outpostserver-remote
Description: Solar Outpost server package for base station

Package: outpostserver-remote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dnsmasq, lighttpd, php5-cgi, php5-sqlite, samba, vim
Replaces: dnsmasq
Conflicts: outpostserverpkg-basestation
Description: Solar Outpost server package for remote sites

Package: outpostserver-doc
Architecture: all
Depends: outpostserver-basestation | outpostserver-remote
Description: Content and documentation for the Solar Outpost server package

Package: outpostserver-client
Architecture: all
Depends: samba-common
Conflicts: outpostserver-basestation, outpostserver-remote
Description: samba config file for client linux machines to mount the drives
