#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
#export DH_NO_ACT=1
# This has to be exported to make some magic below work.
export DH_OPTIONS
override_dh_prep:
override_dh_auto_install:
#This is fairly silly but since we include our own libs in /opt
#we need this for the shlibdeps to work. currently both
#basestation and remote install the same contents in /opt so this should
#be safe.
override_dh_shlibdeps:
	dh_shlibdeps -l`pwd`/debian/outpostserver-basestation/opt/outpostserver/lib
override_dh_fixperms:
	dh_fixperms -Xvar/www
#no need for a build target all the real work happens in the binary-indep and binary-arch targets.
override_dh_auto_build:
build:
binary: binary-arch binary-indep
binary-arch:
	$(MAKE) install DESTDIR=`pwd`/debian/outpostserver-basestation
	mv `pwd`/debian/outpostserver-basestation/var/www/wiki/conf/local.php `pwd`/debian/add-ons/templates/
	rm `pwd`/debian/outpostserver-basestation/etc/hosts
	$(MAKE) TYPE=remote install DESTDIR=`pwd`/debian/outpostserver-remote
	mv `pwd`/debian/outpostserver-remote/var/www/wiki/conf/local.php `pwd`/debian/add-ons/templates/
	rm `pwd`/debian/outpostserver-remote/etc/hosts
	dh binary-arch

binary-indep:
	$(MAKE) contentinstall DESTDIR=`pwd`/debian/outpostserver-doc
	dh binary-indep
%:
	dh $@ 
